body {
    background-color: black !important;  
  }
  
  /*Inicio barra de navegacion*/
  .navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: transparent !important;
  }
  
  .collapse.navbar-collapse {
    font-size: 18px;
  }
  
  .navbar-brand {
    background-image: url(/images/logo-header.jpg) !important;
    background-repeat: no-repeat;
    width: 200px;
    height: 55px;
    background-size: 50px;
    text-align-last: right;
    margin-top: 16px;
    color: yellow !important;
    font-weight: bolder;
    font-size: 25px !important;
  }
  
  .navbar-collapse { 
    flex-grow: 0 !important;
  }
  /*Fin Estilos barra de navegacion*/
  
  /*Inicio Introduccion*/
  
  .introduction {
    margin: 50px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
  }
  
  .text-introduction {
    color: white;
    font-size: 38px;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
  }
  
  .image-introduction {
    width: 400px;  
    height: 300px;  
  }
  
  .ii-3 {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  
  .ii-4 {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  
  .ii-3, .ii-4 {
    margin-top: 30px;
  }
  /*Fin Estilos Introduccion*/
  
  /*Inicio Nuevos Platillos*/
  .title {
    grid-column: 1/4;
    margin: 30px auto;
    color: yellow;
    font-size: 90px;
  }
  
  .news {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    align-items: start;
    justify-content: space-between;
  }
  
  .news-section {
    background-color: yellow;
    border-radius: 16px;
    height: 520px;
    margin: 10px;
    text-align: center;
    padding: 20px;
  }
  
  .image-news {
    width: 380px;  
    height: 300px;  
    border-radius: 20px;
  }
  
  .news-section:hover {
    padding-top: 50px;
    height: 600px;
    border: 10px solid black;
    z-index: 99;
  }
  
  .item-title, .item-description {
    color: black;
    text-align: center;
  }
  
  .item-title {
    font-size: 30px;
    font-weight: bold;  
  }
  
  .item-description {  
    font-size: 18px;    
  }
  /*Fin Nuevos Platillos*/
  
  /*Inicio Cervezas*/
  .beers-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .image-beers {
    width: 200px;
  }
  
  .image-beers:hover {
    width: 220px;
  }
  
  .beers-title, .catering-title, .promotions-title {
    text-align-last: center;
  }
  /*Fin Cervezas*/
  
  /*Inicio Catering*/
  
  .list {
    color: white;
    font-size: 30px;
    margin: 20px;
  }
  
  .text-conditions {
    font-size: 18px;
    color: white;
    margin: 20px;
  }
  
  p.text-conditions > u {
    cursor: pointer;
  }
  
  .catering {
    border: solid 5px yellow;
    border-radius: 16px;
  }
  
  .contact-sec {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px;
  }
  
  .contact-title {
    color: white;
    font-size: 30px;  
    grid-column: 1/3;
  }
  
  .name,
  .email,
  .tel {
    margin: 20px 0px;
    height: 48px;
    border-radius: 8px;
    padding-left: 10px;
  }
  
  .name,
  .email {
    width: 80%;
  }
  
  .tel {
    width: 60%;
  }
  
  .send {
    width: 60%;
    height: 50px;
    background-color: yellow;
    color: black;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    margin: auto 0px;  
  }
  
  .send:hover {
    background-color: white;
    font-weight: bolder;  
  }
  /*Fin Catering*/
  
  /*Inicio Promociones*/
  
  .promotions {
    margin-bottom: 100px;
  }
  
  .accordion-button {
    font-size: 30px !important;
    color: white !important;
    font-weight: bold;
  }
  
  .accordion-button:focus {
    color: yellow !important;
    border-color: yellow !important;
    outline: 0;
    box-shadow: none !important;
  }
  
  .accordion {  
    --bs-accordion-bg: transparent !important;
  }
  
  .accordion-button:not(.collapsed) {
    color: yellow !important;
    text-decoration: underline !important;
    background-color: transparent !important;
    font-weight: bolder;
  }
  
  .nfl {  
    background-position-y: 50%;
    background-size: 34%;
  }
  
  .beer {  
    background-size: 15%;
    background-position-y: 50%;
  }
  
  .hb {  
    background-size: 23%;
    background-position-y: 20%;
  }
  /*Fin Promociones*/
  
  /*Inicio Footer*/
  
  .text-center.text-lg-start.bg-white.text-muted {
    background-color: black !important;
  }
  
  .me-5.d-none.d-lg-block {
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    color: white;  
  }
  
  .justify-content-lg-between {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
  }
  
  .container.p-4.pb-0 {
    padding: 0px !important;
    text-align: right;
  }
  
  .row.mt-3 {
    font-size: 20px;
    color: white;
  }
  
  .text-uppercase.fw-bold.mb-4{
    font-size: 22px;
  }
  
  .contact {
    font-size: 20px !important;
  }
  /*Fin Footer*/

  @media only screen and (max-width: 768px) {

    .introduction {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
    }
  
    .image-introduction {
      width: 90%;
      height: auto;    
    }
  
    .text-introduction {    
      font-size: 25px;
      margin: 15px;
    }
  
    .ii-1,
    .ii-2 {
      margin-top: 30px;
    }
  
    .news {
      display: flex;
      flex-wrap: wrap;
      margin: 8px;
    }
  
    .image-news {
      width: 90%;  
      height: auto;      
    }
  
    .news-section {
      height: fit-content;
    }
  
    .title {    
      text-align: center;
      font-size: 50px;
    }
  
    .image-beers {
      width: 150px;
    }
  
    .catering {   
      margin: 10px;
      background-size: 100%;
    }
  
    .contact-sec {
      display: flex;
      flex-wrap: wrap;
      align-content: stretch;
      justify-content: center;
      align-items: center;
    }
  
    .send {
      margin-top: 20px;
    }
  
    .name, .email {
      width: 100%;
      text-align-last: center;
    }
  
    .tel {
      width: 60%;
      text-align-last: center;
    }
  
    .text-conditions {    
      padding-bottom: 20px;
      text-align: center;
    }
  
    .promotions {    
      margin: 0px 10px 100px 10px;
    }
  
    .beer {   
      background-size: 25%;
    }
  
    .hb {   
      background-size: 50%;
      background-position-y: 173%;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1460px) {
  
    .introduction {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
    }
  
    .image-news {
      width: 256px;
      height: 200px;
    }
  
    .news-section {    
      height: 470px;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1460px) {
  
    .news-section {
      height: 510px;
    }
  
    .image-news {
      width: 180px;
      height: 130px;
    }
  }
  
  
  /*Inicio Under-Construction*/
  .under-construction {
    background-image: url(/images/under-con.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 50%;
    background-position-y: 0%;
  }
  
  .under {
    margin: 40% 20%;
  }
  /*Fin Under-Construction*/